/* blog */
.m-hover-dark:hover {
  filter: brightness(0.95);
}
.m-datetime {
  color: #00a7e0 !important;
}

.m-datetime * {
  vertical-align: middle !important;
}

.m-datetime i {
  margin-right: 3px !important;
}

.m-views {
  color: #ff3f1f !important;
}

.m-views * {
  vertical-align: middle !important;
}

.m-views i {
  margin-right: 3px !important;
}

.m-common-black {
  color: #000 !important;
}

.m-common-black * {
  vertical-align: middle !important;
}

.m-common-black * * {
  vertical-align: middle !important;
}

.m-common-black i {
  margin-right: 3px !important;
}